*{
    margin:0;
}
hr {
    background-color: #FEE3EC;
    border-style:none ;
    border-top-style:dotted;
    border-color: grey;
    border-width:5px;
    height: 10px;
    width:5%;
    
}

.top-half {
    background-color: #FEE3EC;
    
}

.middle{
    background-color: #F9C5D5;
    
}

.lower-half {
    background-color: #F999B7;
    
}



